<a href="https://colab.research.google.com/github/DevAnand-debugger/study_of_sets_and_dictionary/blob/main/study_of_sets_and_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name=Dev Anand

PRN=25070123039


Batch=A2

## Title -To study Sets in Python
Sets are used to store multiple items in single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List,Tuple,and Dictionary,all with different qualities and usage.
A set is a collection which is unordered,unchangeable*,and unindexed.

In [ ]:
# Creation of set
seett = {"chocolate","vanilla","pista"}
print(seett)

{'vanilla', 'chocolate', 'pista'}

In [ ]:
#Duplicates not allowed
seett = {"chocolate","vanilla","pista","chocolate"}
print(seett)

{'vanilla', 'chocolate', 'pista'}

In [ ]:
# The values True and 1 are considered the same value in sets
seett = {"chocolate","vanilla","pista",True,1,2}
print(seett)

{True, 2, 'chocolate', 'vanilla', 'pista'}

In [ ]:
# A set with strings, integers and boolean values:
set1 = {"abc",34,True,78,"female",10.5}
print(set1)#note that in output it prints of any order as output cause set is unordered

{True, 34, 'female', 10.5, 'abc', 78}

In [ ]:
# To check membership
seett = {"chocolate","vanilla","pista"}

print("chocolate" in seett )
print("biscoff" in seett)

True
False

In [ ]:
# Once a set is created,you cannot replace its items,
# but you add new items.
seett = {"chocolate","vanilla","pista"}

seett.add("mango")
print(seett)

{'vanilla', 'chocolate', 'pista', 'mango'}

In [ ]:
#Remove Item
seett = {"chocolate","vanilla","pista"}

seett.remove("pista")

print(seett)

{'vanilla', 'chocolate'}

In [ ]:
# Set operations
A = {12,13,14,15,16}
B = {16,17,18,19,20}

print("Union:",A|B)
print("Intersection:",A&B)
print("Difference:",A-B)
print("Symmetric Difference:",A^B)

Union: {12, 13, 14, 15, 16, 17, 18, 19, 20}
Intersection: {16}
Difference: {12, 13, 14, 15}
Symmetric Difference: {12, 13, 14, 15, 17, 18, 19, 20}

### Python frozenset

In [ ]:
# frozenset
x = frozenset({"chocolate","vanilla","pista"})
print(x)
print(type(x))

frozenset({'vanilla', 'chocolate', 'pista'})
<class 'frozenset'>

In [ ]:
#Adding or Removal of elements are not allowed in Frozenset
x = frozenset({"chocolate","vanilla","pista"})
x.remove("pista")
print(x)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
#Adding or Removal of elements are not allowed in Frozenset
x = frozenset({"chocolate","vanilla","pista"})
x.add("mango")
print(x)

AttributeError: 'frozenset' object has no attribute 'add'

''''Problem Statement 1: Unique Event participants
A college event has a list of students who registered multiple times
by mistake.
Write a program using set to store participant Names and display only unique participants.'''''

In [ ]:
registered = ["Dev","Ram","Riya","Manas","Rohan","Dev","Manas","Amit","Riya"]
uniqregistered = set(registered)
print("all the unique registered participants:",uniqregistered)

all the unique registered participants: {'Amit', 'Dev', 'Manas', 'Riya', 'Rohan', 'Ram'}

''''Problem Statement 2:Write a code to find the common elective chosen by three students.'''

In [ ]:
Dev = {"AI","ML","Tpcs","Robotics","civil"}
Asit = {"mech","english","Robotics","physics","EG"}
Akshu = {"Dcld","english","maths","Robotics","Tpcs"}
common = Dev & Asit & Akshu
print("common subjects chosen by all students",common)

common subjects chosen by all students {'Robotics'}

''''Problem statement 3:One set contains students in cricket club and another in the football club.
Find students who are in both clubs and find students who are presend only on one club.'''''

In [ ]:
cricketclub={"Dev","Asit","Aditi","Ayush","Arnav"}
footballclub={"Dev","Asit","Darsh","Dhvan","Arnav"}
print("students present in both clubs",cricketclub & footballclub)
print("students present in only one club",cricketclub ^ footballclub)

students present in both clubs {'Asit', 'Dev', 'Arnav'}
students present in only one club {'Aditi', 'Ayush', 'Dhvan', 'Darsh'}

'''Problem Statement 4: Create a set of total student and present student and find the absent students using set operations.'''

In [ ]:
total = {"Dev","Asit","Aditi","Ayush","Arnav","Dhvan","Darsh"}
present = {"Dev","Asit","Darsh","Dhvan","Arnav"}
print("Total present students",total-present)

Total present students {'Aditi', 'Ayush'}

''''Problem Statement 5: Remove Invalid Entries.
A set contains valid course codes.
Remove a discontinued course from the set.'''''

In [ ]:
course = {"Dcld101","english112","EG115","Robotics104","Tpcs105"}
course.remove("english112")
course.discard("EG115")
print(course)

{'Dcld101', 'Robotics104', 'Tpcs105'}

Dictionary

they are used to store data values in key:value pairs.
they are ordered and unchangable also no duplication allowed

In [1]:
# creation of dictionary
thisdict = {
    "brand":"Porche",
    "model":"GTR",
    "year": 1978
}
thisdict

{'brand': 'Porche', 'model': 'GTR', 'year': 1978}

In [3]:
# Retriving values from the dictionary
thisdict = {
    "brand":"Porche",
    "model":"GTR",
    "year": 1978
}
print(thisdict["brand"])

Porche

In [6]:
# Dictionary takes the latest value given for key. It will not allow duplication
thisdict = {
    "brand":"Porche",
    "model":"GTR",
    "year": 1978,
    "year": 2026
}
print(thisdict)

{'brand': 'Porche', 'model': 'GTR', 'year': 2026}

In [7]:
# Length of the key-value pairs
len(thisdict)

3

In [10]:
# Changing/Adding key:value in dictionary
car = {
    "brand":"Porche",
    "model":"GTR",
    "year": 1978
}
car["color"]="green"
x = car.values() #using this only values can be printed without the keys
print(x) #after the change

{'brand': 'Porche', 'model': 'GTR', 'year': 1978, 'color': 'green'}

In [14]:
#Retrival of values
student = {
    "roll": "169",
    "name":"Dev",
    "branch":"ENTC"
}
print("name:",student["name"])

name: Dev

In [15]:
#Adding and Updating Elements
student["year"]="First"
student["name"]="Dev"

print(student)

{'roll': '169', 'name': 'Dev', 'branch': 'ENTC', 'year': 'First'}

In [16]:
# Removing Elements
student.pop("branch")
print("After removal:",student)

After removal: {'roll': '169', 'name': 'Dev', 'year': 'First'}

''''1.A dictionary of products with prices and updating the price of a product.''''

In [22]:
products = {
    "ball":34,
    "bat": 560,
    "badminton":700,
    "basketball":800
}
print("original:",products)
products["bat"]=455
print("updated:",products)

original: {'ball': 34, 'bat': 560, 'badminton': 700, 'basketball': 800}
updated: {'ball': 34, 'bat': 455, 'badminton': 700, 'basketball': 800}

''''2.Create a dictionary and find student's name with marks and display a suitable message if student not found.'''''

In [29]:
stud = {
    "Dev":98,
    "Shreya":99,
    "Asit":69,
    "Aditi":78
}
name = input("Enter student name: ")
print(stud.get(name,"Student not found"))

Enter student name: Krish
Student not found

In [35]:
stud = {
    "Dev":98,
    "Shreya":99,
    "Asit":69,
    "Aditi":78
}
name = input("Enter student name: ")
print(stud.get(name,"Student not found"))

Enter student name: Dev
98

'''3.A dictionary stores usernames and passwords.
Write a Python program to validate user login.'''

In [31]:
dataa = {
    "devsitian":"depol123",
    "asitian":"fuboya23",
    "dristian":"deadpool69"
}
username = input("Enter username: ")
password = input("Enter password: ")
print(dataa.get(username,"User not found"))

Enter username: devsitian
Enter password: depol123
depol123

In [47]:
dataa = {
    "devsitian":"depol123",
    "asitian":"fuboya23",
    "dristian":"deadpool69"
}
username = input("Enter username: ")
password = input("Enter password: ")


if dataa.get(username) == password:
    print("Login successful")
else:
    print("Invalid username or password")

Enter username: dristian
Enter password: deadpool69
Login successful

'''4.A dictionary stores student name and marks.
Write a Python Program to find the student who scored the maximum marks.'''

In [46]:
marks = {"Dev":98,"Asit":69,"Dristi":94}
topper = max(marks,key=marks.get)
print("Topper:",topper)
print("Marks:",marks[topper])

Topper: Dev
Marks: 98